
 
:root {
    --fontWeight-nunito-light: 300;
    --fontWeight-nunito-regular: 400;
    --fontWeight-nunito-bold: 700;
    --fontFamily-nunito: 'Nunito', sans-serif;
  }
*{
    margin: 0;
    padding: 0;
}
*,
*:before,
*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: var(--fontFamily-nunito);

    font-weight: 400;
    line-height: 1.6;
}